<div class="container-fluid">
	
<section class="site-header">
	 
	 	<div class="site-header--logo">
	 		<a href="/"><img src="assets/images/xbn-logo.png" alt=""></a>
	 	</div>	 	
	 		<div id="nav-icon" class="nav-icon">
			  <span></span>
			  <span></span>
			  <span></span>
			  <span></span>
			</div>

	 	<div class="site-header--main-nav">
	 		<ul class="horizontal-nav">
	 			<li class="horizontal-nav--item">
	 				<a href="#" class="horizontal-nav--item--link{{ternery page 'white-paper' ' active' ''}}">
	 					White Paper
	 				</a>
	 			</li>
	 			<li class="horizontal-nav--item">
	 				<a href="#" class="horizontal-nav--item--link{{ternery page 'road-map' ' active' ''}}">
	 					Road Map
	 				</a>
	 			</li>
	 			<li class="horizontal-nav--item">
	 				<a href="/register" class="horizontal-nav--item--link{{ternery page 'register' ' active' ''}}">
	 					Register
	 				</a>
	 			</li>
	 			<li class="horizontal-nav--item">
	 				<a href="#" class="horizontal-nav--item--link{{ternery page 'xbn-tokens' ' active' ''}}">
	 					XBN Tokens
	 				</a>
	 			</li>
	 			<li class="horizontal-nav--item{{ternery page 'faqs' ' active' ''}}">
	 				<a href="#" class="horizontal-nav--item--link">
	 					FAQs
	 				</a>
	 			</li>
	 		</ul>
	 	</div>
	
</section>
</div>