<!--  Navbar start-->
    <nav id="header" class="navbar navbar-fixed-top">
        <div id="header-container" class="container navbar-container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a id="brand" class="navbar-brand" href="/">
                    <img src="images/svg/logo.svg" style="width:117px;height:58px;" alt="logo">
                </a>
            </div>
            <div id="navbar" class="collapse navbar-collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li class="{{ternery page 'white-paper' ' active' ''}}">
						<a href="/white-paper">Whitepaper</a>
						</li>
                    <li class="{{ternery page 'road-map' ' active' ''}}">
						<a href="/road-map">Roadmap</a>
						</li>
                    <li class="{{ternery page 'loans' ' active' ''}}">
						<a href="/loans">Loans</a>
					</li>
                    
                    <li class="">
						<a href="#team_part">Team</a>
					</li>
                    <li class="{{ternery page 'contractors' ' active' ''}}">
						<a href="/contractors">Contractors</a>
					</li>
                    <li class="{{ternery page 'members' ' active' ''}}">
						<a href="/members">Members Area</a>
					</li>
                    <li class="{{ternery page 'faqs' ' active' ''}}">
						<a href="/faqs">Faqs</a>
					</li>
					<li class="{{ternery page 'get-xbn' ' active' ''}}">
						<a href="/get-xbn">Get XBN</a>
					</li>
					
					{{#if user}}
					
					<li class="{{ternery page 'profile' ' active' ''}}">
						<a href="/profile">Profile</a>
					</li>
					<li><a href="/logout">Logout</a></li>
					{{else}}
					<li class="{{ternery page 'register' ' active' ''}}">
						<a href="/register">Register</a>
					</li>
					<li class="{{ternery page 'sign-in' ' active' ''}}">
						<a href="/sign-in">Login</a>
					</li>
					{{/if}}

                </ul>
            </div>
        </div>
    </nav>
    <!-- Navbar part end-->


{{!-- <div class="container-fluid">
<section class="site-header">
	 
	 	<div class="site-header--logo">
	 		<a href="/"><img src="assets/images/xbn-logo.png" alt=""></a>
	 	</div>	 	
	 		<div id="nav-icon" class="nav-icon">
			  <span></span>
			  <span></span>
			  <span></span>
			  <span></span>
			</div>

	 	<div class="site-header--main-nav">
	 		<ul class="horizontal-nav">
	 			<li class="horizontal-nav--item">
	 				<a href="/white-paper" class="horizontal-nav--item--link{{ternery page 'white-paper' ' active' ''}}">
	 					White Paper
	 				</a>
	 			</li>
	 			<li class="horizontal-nav--item">
	 				<a href="/road-map" class="horizontal-nav--item--link{{ternery page 'road-map' ' active' ''}}">
	 					Road Map
	 				</a>
	 			</li>
				 <li class="horizontal-nav--item">
	 				<a href="/loans" class="horizontal-nav--item--link{{ternery page 'loans' ' active' ''}}">
	 					Loans
	 				</a>
	 			</li>
	 			
	 			<li class="horizontal-nav--item">
	 				<a href="/xbn-tokens" class="horizontal-nav--item--link{{ternery page 'xbn-tokens' ' active' ''}}">
	 					XBN Tokens
	 				</a>
	 			</li>
	 			<li class="horizontal-nav--item">
	 				<a href="/faqs" class="horizontal-nav--item--link{{ternery page 'faqs' ' active' ''}}">
	 					FAQs
	 				</a>
	 			</li>

				{{#if user}}
				<li class="horizontal-nav--item">
	 				<a href="/members" class="horizontal-nav--item--link{{ternery page 'members' ' active' ''}}">
	 					Members
	 				</a>
	 			</li>
				<li class="horizontal-nav--item">
	 				<a href="/profile" class="horizontal-nav--item--link{{ternery page 'profile' ' active' ''}}">
	 					Profile
	 				</a>
	 			</li>
				 <li class="horizontal-nav--item">
	 				<a href="/logout" class="horizontal-nav--item--link">
	 					Logout
	 				</a>
	 			</li>
				{{else}}
				<li class="horizontal-nav--item">
	 				<a href="/register" class="horizontal-nav--item--link{{ternery page 'register' ' active' ''}}">
	 					Register
	 				</a>
	 			</li>
				 <li class="horizontal-nav--item">
	 				<a href="/sign-in" class="horizontal-nav--item--link{{ternery page 'sign-in' ' active' ''}}">
	 					Login
	 				</a>
	 			</li>
				{{/if}}



	 		</ul>
	 	</div>

</section>
</div> --}}